@font-face { 
    font-family: "SegoeUI", sans-serif;
     src:url('../fonts/SegoeUI.woff2') format("woff2"), 
         url('../fonts/SegoeUI.woff') format("woff");
         font-weight: 400;
         font-display: swap;
}